body {
  background-color: tan;
}

.jumbotron {
  background-color: lightgrey;
}

.jumbotron h1 {
    padding-left: 10px;
}

button {
  background-color: tomato;
}

button:hover {
  background-color: lightgreen;
}

#leftcolumn {
  padding-left: 15px;
}
